default:
  cedar_template: "templates/cedar-base-%{name}.json"
  default_input_file: "data/bao-schema.json"
  default_output_file: "data/cedar-bao-schema.json"
  bp_base_url: "http://data.bioontology.org"
  bp_search_endpoint: "/search"
  bp_ontologies_endpoint: "/ontologies"
  bp_api_key: "your-bioportal-api-key"
  cedar_api_key: "your-cedar-api-key"